.navbar{
border-bottom: 1px solid gray;
position: fixed;
width: 100%;
background-color: transparent  !important;
-webkit-backdrop-filter: blur(3px);
backdrop-filter: blur(3px);
z-index: 200;
}

.navbar .navbar-nav{
    margin: 0 auto;
    font-family: 'Signika Negative', sans-serif;
}
    .nav-link:hover{
        text-shadow: 0px 0px 15px black;
    }

.navbar ul{
    display: flex;
    margin: 0;
    gap: 3rem;
    margin-top: 15px;
    list-style: none;
    flex-wrap: wrap;
   flex-shrink: 1;
}
.nav-link{
    color: black;
    font-size:16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
} 
.img_logo{
    display: flex;
    width: 58px;
    height:58px;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding: 3px;
    border-radius: 40px;
}


ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        padding-inline-end: 40px;
    }
 .shrink{
    display: flex;
    flex-shrink: 1;
 }
 .navlink{
    text-decoration: none;
 }
